

@font-face {
    font-family: 'qiyshiq';
    src: url(fonts/ArchitectsDaughter-Regular.ttf)
}
body{
    background: url(SxQ.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 2%;
}
h1{
    
}
p{
    font-family: 'qiyshiq';
    font-size: 20px;
}
p:hover{
    color: brown;
}
.p1:hover{
    color: black;
}
.bloc {
    width: 95%;
    display: flex;
}

.box {
    width: 29%;
    height: 370px;
    background: rgb(148, 245, 124);
    border: 8px solid green;
    border-radius: 5%;

}
.box:hover{
    border: 8px solid blue;
}
.box1{
    width: 29%;
    height: 350px;
    margin: auto;
    padding: 8px;
    background: rgb(148, 245, 124);
    border: 8px solid green;
    border-radius: 5%;
}
.box1:hover{
    border: 8px solid blue;
}
.img{
    width: 100px;
    height: 90px;
}
img{
    width: 70px;
    height: 70px;
    background: red;
    padding: 8px;
}
img:hover{
    background: green;
}